<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!-- Dados -->
<a class="clickable no-m-sides row border grid no-text-decor bg-white"
   th:href="@{/produto/interno/{id}(id=${produto.id})}">

    <!-- Imagem -->
    <div class="p-3 d-flex col-12 justify-content-center">
        <img class="produto-img align-self-center" th:src="@{${'/images/' + produto.imagem}}">
    </div>

    <!-- Texto -->
    <div class="justify-text p-3 flex-column">
        <div><b>Título:</b> <span th:text="${produto.titulo}"></span></div>
        <div class="row no-m">
            <b class="word-margin">Diretor:</b>
            <div class="word-margin" th:each="diretor,iter: ${produto.diretores}">
                <div th:text="${diretor.nome} + (${iter.last} ? '' : ', ')"></div>
            </div>
        </div>
        <div><b>Ano:</b> <span th:text="${produto.ano}"></span></div>
        <div><b>Sinopse:</b> <span th:text="${produto.sinopse}"></span></div>
    </div>

</a>

<!-- Botão comprar -->
<div class="p-3 mb-3 d-flex justify-content-end">
    <div th:replace="produto/fragments/botao-compra"></div>
</div>

</html>