<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao}">
<head>

</head>
<body>
<section layout:fragment="conteudo">
    <form class="width-full"
          th:action="@{/login}" th:method="POST">
        <div class="container card d-flex column justify-content-between col-12 p-3 no-m-sides">

            <!-- Título -->
            <div class="mb-3">
                <h4 class="font-weight-bold mb-3">Login</h4>
                <div class="mb-3"></div>
                <div class="hor-divider-dark"></div>
            </div>

            <div class="d-flex flex-column align-items-center">

                <!-- Login -->
                <div class="col-lg-6 col-sm-12 form-group required">
                    <label class="control-label" for="username">Login</label>
                    <input type="email" class="form-control" name="username" id="username"
                           placeholder="Insira a indentificação..." required="true">
                </div>

                <!-- Senha -->
                <div class="col-lg-6 col-sm-12 form-group required">
                    <label class="control-label" for="password">Senha</label>
                    <input type="password" class="form-control mb-2" name="password" id="password" required="true">
                    <a th:href="@{/login/recuperar-senha}">Esqueci minha senha</a>
                </div>

                <!-- Btn confirmar -->
                <div class="col-lg-6 col-sm-12 mb-2">
                    <button class="btn btn-success" type="submit" style="width: 100%">Confirmar</button>
                </div>

                <!-- Alertas -->
                <div th:if="${msgSucesso}" th:text="${msgSucesso}" class="text-success"></div>
                <div th:if="${#bools.isTrue(param.error)}" class="text-danger">
                    Usuário e/ou senha inválido(s)!
                </div>

            </div>

            <!-- Logo -->
            <div class="row p-2 no-m-sides justify-content-end">
                <div th:replace="layout/fragments/logo"></div>
            </div>

        </div>

        <!-- Link cadastro -->
        <div class="col-12 text-align-end p-3">
            <a th:href="@{/cliente/cadastro}">Ainda não tem conta? Cadastre-se aqui!</a>
        </div>

    </form>
</section>
</body>
</html>